.wrapper {
    text-align: center;
    background: url('../images/background-02.png');
    background-size: cover;
    height: 100vh;
}
.ciko{
     display: block;
    margin-right: auto;

    margin-left: auto;
    height: 100vh;
}

.header{
        display: flex;
    color: white;
    text-transform: uppercase;
        position: fixed;
    right: 0;
}
.header *{
    margin-right: 50px;
    padding-bottom: 7px;

}
.header p:hover{
    cursor: pointer;
    border-bottom: 2px solid white;
    
}
.header p:active{
    border-bottom: 2px solid white;
    
}

.centerdiv {
    position: absolute;
    width: 500px;
    top: 200px;
    left: 100px;
    text-align: left;
    color:#272324;
    font-size: 20px;
}
.centerdiv h2{
    text-transform: uppercase;
    color:rgb(39, 35, 36);
        font-size: 80px;
    font-family: impact;
    margin-bottom: 20px;
}
.centerdiv button{
       width: 151px;
       margin-top: 10px;
    border-radius: 50px;
    height: 40px;
    text-align: center;
    padding: 10px;
    margin-inline: 30px;
    background-color: transparent;
    border: 2px solid #272324;
    text-transform: uppercase;
    color: #272324;
    font-weight: 500;

    
}
.centerdiv button:focus{
    outline:none;
}
.centerdiv button:hover{
    cursor:pointer;
        box-shadow: 1px 1px #272324;

}
.sidebar{
        position: absolute;
    right: 0;
    width: 26%;
    height: calc(100% - 70px);
    top: 70px;
        margin-right: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-around
    
}
.chatIcon{
    
    position: absolute;
    width: auto;
    height: 35px;
    top: 28px;
    left: 70px;

}
.chatIcon:hover{
    cursor: pointer;
}
.language{
    position: absolute;
    bottom: 20px;
    left:70px;
    display: flex;
    align-items: center;
    color: #272324;
}
.language:hover{
    cursor: pointer;
}
.chatDiv{
    width: 50%;
    height:100vh;
    position: absolute;
     background-color: #272324;
    top:0;
    right:0
}

